@import './reset.css';
@import './base.css';

.wrapper {
  display: flex;
  align-items: flex-start;
  min-width: 1100px;
}

.main {
  width: 639px;
  border-left: 1px solid #E6ECF0;
  border-right: 1px solid #E6ECF0;
  position: relative;
  margin: 0 24px;
}

.background-image {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

a:hover {
  text-decoration: underline;
}

a:-webkit-any-link {
  text-decoration: none;
}

.text-center {
  text-align: center;
}